
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.head {
  text-align: center
}
.inline, .paragraph {
  display: inline-block;
}

@keyframes resize {
  0% { padding: 0; }
  50% { padding: 0 10px; }
  100% { padding: 0 30px; }
}


p:hover {
  color: aqua;
  transform: scale(1,2) skew(-45deg) rotate(20deg);
  animation: resize 1s alternate infinite ease-in-out;
}

p {
  font-size: 20px;
  color: green;
  transition: font-size 1s, color 4s;
 
}

